* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( -45deg, #16a085, #27ae60);
}
.btn {
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 50px;
    text-transform: uppercase;
}
